src/metaphyler/markers
src/metaphyler/markers/markers.refseq.dna
src/metaphyler/markers/markers.taxonomy
src/metaphyler/markers/tid2name.tab
workflows
refseq
test
test2
refseq.tar.gz
test.tar.gz
kmermask.tar.gz
kmer-code-2013-trunk
wgs-asm.zip
wgs-assembler-master
all_readme
install.pl
.dir_bash_history
.snakemake
src/buildcontig/*
!src/buildcontig/*pp
.delete
.tmux.conf
151/
151f/
SRS056906.denovo_duplicates_marked.trimmed.1.fastq
SRS056906.denovo_duplicates_marked.trimmed.2.fastq
SRS056906.denovo_duplicates_marked.trimmed.singleton.fastq
SRS057182.tar.bz2
SRS065133.tar.bz2
SRS065133/
Sample1.1.fq
Sample1.2.fq
Sample1.fastq
comand.sh
docs/
even/
hmp
out.txt
out_test.metacompass.log
out_test/
outnof.txt
samples
samples2
snakemake/torque/
src/buildcontig-beta/
src/buildcontig-test/
stag.1.fq
stag.2.fq
stag_out/
tao/
torque/
snakemake/metacompass.iter0.py0
