.tmux.conf
bin/ignore
bin/select_gfc_references_noblast2.py
bin/scratch
bin/meryl-r2013
src/scratch
src/buildcontig/*
!src/buildcontig/*pp
*.log
*.out
SRS*
*shakya*
*hmp*
!install.sh
.dir_bash_history
.
..
.delete
.dir_bash_history
found
.git
ignore
notignore
obj
readme
refseq
samples
scratch
.snakemake
todo
bin/breadth
bin/buildcontig
bin/extractContigs
bin/extractSeq
bin/formatFASTA
bin/fq2fa
bin/processmash
example2_output/
