// EXECUTOR PARAMETERS
// Should edit, at least to change queueSize (number of parallel jobs
// submitted at the same time)
executor {
    queueSize=2 // for running on local machine 
}


//Parameters for the different steps in the pipeline 
// grouped by relevant section
params {
    // Run Options
    trace_file_name = 'trace.txt'
    run_valet = false
    denovo = false
    scaffolding = false
    frc_curves = false
    ref_info = false

    // required
    forward = ''
    reverse = ''
    unpaired = ''
    output = ''
    reference_db = ''

    /**** reference selection ****/
    // TODO: Remove local directory reference
    filter_refs = false

    // filter_refs
    ms = 28
    clean = 0.0
    match = 0.01
    masking = "-nomasking"
    readlen = '300'

    // cluster_refs
    depth_of_coverage=1
    breadth_of_coverage=0.9
    percent_markers_covered = 75

    /**** reference culling ****/
    ref_culling_ms = 16 // kmer-size used for the culling step
    num_matches = 2
    stop = 0.01 //Parameter used to denote the lower bound of overlap when selecting reference genomes in culling

    /**** reference-guided assembly ****/
    // valet - Not used if run_valet set to 'false'
    valet_path = "/fs/cbcb-lab/mpop/Valet/VALET/bin/valet.sh"
    // pilon
    flank = '5'
    mindepth = '3'
    ref_sel = 'tax'
    ref_pick = 'breadth'
    mincov = '1'
    minctglen = '1'
    de_novo = '1'
    tracks = false
    threads = '16' /* also for pilon in ref assembly */
    memory = '20' /* also for pilon in ref assembly */
    executor = 'slurm'
    help = false
    /**** scaffolding ****/
    // Not used if scaffolding set to 'false'
    metacarvel_path = "/fs/cbcb-scratch/jhauzel/bin/MetaCarvel/run.py"
    /**** report generation ****/
    // FRC - Not used if frc_curves set to 'false'
    frc_path = "/fs/cbcb-scratch/jhauzel/metacompass/scripts/FRC/get_FRC_data"
    // data properties for FRC
    libsize_avg = 165
    libsize_sdv = 92.8
    orientation_a = '+'
    orientation_b = '-'
    // statistical parameters for FRC
    mp_size_z_cutoff = 2.58
    mp_edge_z_cutoff = 2.58
    doc_logp_cutoff = 7
}

trace {
    overwrite = true
    enabled = true
    file = params.trace_file_name
    fields = 'task_id,name,status,exit,submit,start,duration,realtime,%cpu,%mem,read_bytes,write_bytes'
}
